<!doctype html>
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <title>Tweet Miner v1</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body style="overflow-x: hidden">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Tweet Miner</a>
            </div>
            <!--<ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>-->
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Keyword(s)" id="idHashTag">
                </div>
                <button id="idBtnStart" class="btn btn-primary">Start</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <!--<div class="jumbotron">
            <form class="form-inline" action="">
                <div class="form-group">
                    <label for="idHashTag">Keyword: </label>
                    <input type="text" class="form-control" id="idHashTag">
                </div>
                <button type="submit" id="idBtnStart" class="btn btn-primary">Start Mining</button>
            </form>
        </div>-->
        <div class="row">
            <!-- Tweet Box -->
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Tweets
                        <div class="btn-group pull-right">
                            <span id="idConnectionStatus">

                            </span>
                        </div>
                    </div>
                <div class="panel-body" id="idTweetBox">
                    <ul class="chat" id="idTweetBoxList">
                        <!-- List Item Template -->
                        <!--<li class="left clearfix" style="visibility:hidden" id="idTweetDummyObj">
                            <span class="chat-img pull-left">
                                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
            <!-- //Tweet Box -->
            <!-- Graph Content -->
            <div class="col-md-5">

                    <div class="skill5">
				        <div class="container">
					        <div class="row">
                                <div class="col-md-1">
                                    <div class="skill5-counter">
                                        <p class="counter-count" id="idTotalTweetCount">0</p>
                                        <p class="counter-bottom">Total Tweets</p>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="skill5-counter">
                                        <p class="counter-count" id="idPositiveTweetCount">0</p>
                                        <p class="counter-bottom">Positive Tweets</p>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="skill5-counter">
                                        <p class="counter-count" id="idNeutralTweetCount">0</p>
                                        <p class="counter-bottom">Neutral Tweets</p>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="skill5-counter">
                                        <p class="counter-count" id="idNegativeTweetCount">0</p>
                                        <p class="counter-bottom">Negative Tweets</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Positive -->
                <div class="bar-chart">
                    <!--<div class="legend">
                        <div class="item">
                            <h4>Newbie</h4>
                        </div>
                        <div class="item">
                            <h4>Decent</h4>
                        </div>
                        <div class="item text-right">
                            <h4>Good</h4>
                        </div>
                        <div class="item text-right">
                            <h4>Superhero</h4>
                        </div>
                    </div>-->
                    <!-- //.legend -->
                    <div class="chart clearfix">
                        <div class="item">
                            <div class="bar">
                                <span class="percent" id="idPositiveBarChartP"></span>

                                <div class="item-progress" id="idPositiveBarChart" data-percent="20">
                                    <span class="title">Positive</span>
                                </div>
                                <!-- //.item-progress -->
                            </div>
                            <!-- //.bar -->
                        </div>
                        <div class="item">
                            <div class="bar">
                                <span class="percent" id="idNeutralBarChartP"></span>

                                <div class="item-progress" id="idNeutralBarChart" data-percent="20">
                                    <span class="title">Neutral</span>
                                </div>
                                <!-- //.item-progress -->
                            </div>
                            <!-- //.bar -->
                        </div>
                        <div class="item">
                            <div class="bar">
                                <span class="percent" id="idNegativeBarChartP"></span>

                                <div class="item-progress" id="idNegativeBarChart" data-percent="20">
                                    <span class="title">Negative</span>
                                </div>
                                <!-- //.item-progress -->
                            </div>
                            <!-- //.bar -->
                        </div>
                    </div>
                    <!-- //.chart -->
                </div>
                <!-- //.bar-chart -->
            </div>
            <!-- //.col-md-4 -->
        </div>
        <!-- //Graph Content -->
    </div>
    <!-- Application Logic -->
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>